body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(40deg, #a05601 50%, #35322f 60%);
    overflow-x: hidden;

}

.header-border {
    background-color: rgba(250, 100, 0, 0.2);
}
.header-size {
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 2px;
}

.letter-spacing {
    letter-spacing: 2px;
    font-size: large;
}

.wrapper {
    border-top: solid grey 1px;;
}

footer {
    background: linear-gradient(40deg, #a05601 50%, #35322f 60%);

    color: white;
    border-top: solid grey 1px;
}

.hover-grey:hover {
    color: grey;
}

.title-about {
    font-size: xx-large;
    font-weight: bold;
}
.border-bottom-white {
    border-bottom: solid 1px grey;
}
.navbar-light .navbar-brand {
    color: white;
}

.text-decoration-none {
    text-decoration: none;
    color: white;
}

.text-decoration-none:hover {
    color: grey;
}

.about-us {
   
    color: white;
    
}

.green {
    color: green;
}



.wrapper {
    
    background: #000;
    background: url("https://lp-cms-production.imgix.net/2019-06/477913205_medium.jpg");
    background-size: cover;
    width: 100%;
}

.overlay {
    width: 100%;
    
    background: rgba(0, 0, 0, 0.8)
}

.contact-us {
    margin-top: 50px;
    margin-bottom: 50px
}

.contact-us h3,
p {
    color: #fff
}

.address {
    margin-top: 14px !important;
    margin-left: 10px
}

.address span {
    color: #8b8b8b
}

.icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center
}

.icons i {
    font-size: 20px
}

.forms {
    padding: 20px
}

.inputs input {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #eee
}

.inputs input:focus {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #7B1FA2;
    box-shadow: none
}

.inputs textarea {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #eee;
    width: 100%;
    resize: none
}

.inputs textarea:focus {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #7B1FA2;
    box-shadow: none;
    resize: none
}

.form-control {
    padding: .375rem .25rem
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0, 0, 0, 0.5); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 20px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  