body {
    font-family: 'Lato', sans-serif;
   
    overflow-x: hidden;
    color: white;

}

.background-here {
    background: url(https://github.com/alisadiq91/homes-newcastle/blob/main/assets/images/background.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
}

.message-box {
    width: 100%;
    padding: 0 !important;
}
.text-box {
    background-color: rgba(0, 0, 0, 0.7);
}
.header-border {
    background-color: rgba(0, 0, 0, 0.7);
}
.header-size {
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Khand', sans-serif;
}

.letter-spacing {
    letter-spacing: 2px;
    font-size: large;
}

.wrapper {
    border-top: solid white 3px;;
}
.text-size {
    font-size: larger;
}

footer {
    background: rgba(0, 0, 0);
    font-size: smaller !important;
    color: grey;
    border-top: solid white 3px;
}

footer a {
    color: grey !important;
}

.footer-copyright {
    font-size: x-small !important;
}

.hover-grey:hover {
    color: grey;
}

.bg-white{
    color: black;
}

.font-small {
    font-size: small;
    font-weight: lighter;
}
.zoom {
    transition: transform 2s; /* Animation */
}
.zoom:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); 
  }
.rounded-50 {
   
        border-radius: 3%;
    
}
.title-about {
    font-size: xx-large;
    font-weight: bold;
}
.border-bottom-white {
    border-bottom: solid 3px white;
}
.navbar-light .navbar-brand {
    color: white;
}

.text-decoration-none {
    text-decoration: none;
    color: white;
}

.text-decoration-none:hover {
    color: rgb(163, 163, 163) !important;
}

.about-us {
   
    color: white;
    
}

.green {
    color: green;
}

.bright-green {
    color: rgb(64, 255, 64);
}

.btn-success {
    background-color: rgb(64, 255, 64) !important;
}

.wrapper {
 
    
    width: 100%;
}

.overlay {
    width: 100%;
    
    background: rgba(0, 0, 0, 0.8)
}

.contact-us {
    margin-top: 50px;
    margin-bottom: 50px
}

.contact-us h3,
p {
    color: #fff
}

.address {
    margin-top: 14px !important;
    margin-left: 10px
}

.address span {
    color: #8b8b8b
}

.icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center
}

.icons i {
    font-size: 20px
}


.inputs input {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #eee
}

.inputs input:focus {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #7B1FA2;
    box-shadow: none
}

.inputs textarea {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #eee;
    width: 100%;
    resize: none
}

.inputs textarea:focus {
    margin-bottom: 13px;
    border: none;
    border-bottom: 2px solid #7B1FA2;
    box-shadow: none;
    resize: none
}

.form-control {
    padding: .375rem .25rem
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(0, 0, 0, 0.5); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 20px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }

.carousel-bg {
    background-color: whitesmoke;
    color: black !important;
}
  .cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    width: 100%;
    height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #302f2f;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }
  